<template>
    <div>
        <form @submit.prevent="create()">
            <h2 >Ingredient Details</h2>
            <label for="name">Name</label>
            <input v-model="name" type="text" id="name" class="form-control" placeholder="Ingredient Name" required
                   autofocus>

            <label for="cost">Cost</label>
            <input v-model="cost" type="number" id="cost" class="form-control" placeholder="Cost" required>

            <button class="btn btn-lg btn-primary" type="submit">Save</button>
        </form>
    </div>
</template>
<script>
    export default {
        name: 'AddIngredient',
        data() {
            return {
                name: '',
                cost: 0
            }
        },
        methods: {
            create() {
                this.$http.post('ingredients', {
                    name: this.name,
                    cost: this.cost
                }).then(() => {
                    alert('Ingredient successfully created!');
                }).catch((data) => {
                    let messages = [];
                    for (let key in data.body.errors) {
                        messages.push(data.body.errors[key][0]);
                    }
                    alert('Failed to create new Ingredient! Because of:' + messages.join());
                })
            }
        }
    }
</script>