<template>
    <div>
        <form @submit.prevent="create()">
            <h2>Pizza Details</h2>
            <label for="name">Name</label>
            <input v-model="pizza.name" type="text" id="name" class="form-control" placeholder="Pizza Name" required
                   autofocus>

            <label for="price">Price</label>
            <input v-model="pizza.price" type="number" id="price" class="form-control" placeholder="Price" required>

            <h3>Pizza's Ingredients</h3>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Order</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(ingredient, index) in pizzaIngredients">
                    <td>{{ ingredient.id }}</td>
                    <td>{{ ingredient.name }}</td>
                    <td><input @input="handleQuantity(index, $event)" type="text" required></td>
                    <td><input @input="handleOrder(index, $event)" type="number" required></td>
                    <button type="button" class="btn btn-danger" v-on:click="deleteFromPizza(index)">Delete</button>
                </tr>
                </tbody>
            </table>


            <button class="btn btn-lg btn-primary" type="submit">Save</button>
        </form>

        <h3 for="name">Available Ingredients</h3>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="ingredient in ingredients">
                <td>{{ ingredient.id }}</td>
                <td>{{ ingredient.name }}</td>
                <button type="button" class="btn btn-success" v-on:click="addToPizza(ingredient)">Add</button>
            </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
    export default {
        name: 'AddPizza',
        data() {
            return {
                pizza: {
                    name: '',
                    price: 0
                },
                ingredients: [],
                pizzaIngredients: []
            }
        },

        created() {
            this.fetchIngredients()
        },

        methods: {
            handleQuantity: function (index, event) {
                this.pizzaIngredients[index].quantity = event.currentTarget.value
            },

            handleOrder: function (index, event) {
                this.pizzaIngredients[index].order = event.currentTarget.value
            },

            create() {
                this.$http.post('pizzas', {
                    name: this.pizza.name,
                    price: this.pizza.price,
                    ingredients: this.prepareIngredients(this.pizzaIngredients)
                }).then(() => {
                    alert('Pizza successfully created!');
                }).catch((data) => {
                    let messages = [];
                    for (let key in data.body.errors) {
                        messages.push(data.body.errors[key][0]);
                    }
                    alert('Failed to create new Pizza! Because of:' + messages.join());
                })
            },

            fetchIngredients() {
                this.$http.get(`ingredients`)
                    .then((req) => {
                        this.ingredients = req.data
                    }).catch(() => {
                    alert('Failed fetching Ingredients!')
                })
            },

            addToPizza(ingredient) {
                //validate if ingredient already in Pizza
                let ingredientAlreadyAdded = false;
                if (this.pizzaIngredients.length > 0) {
                    ingredientAlreadyAdded = this.pizzaIngredients.indexOf(ingredient) != -1;
                }


                if (!ingredientAlreadyAdded) {
                    this.pizzaIngredients.push(ingredient);
                }
            },

            deleteFromPizza(index) {
                this.pizzaIngredients.splice(index, 1);
            },

            prepareIngredients() {
                let ingredients = [];
                this.pizzaIngredients.forEach(function (ingredient) {
                    ingredients.push({
                        id: ingredient.id,
                        quantity: ingredient.quantity,
                        order: ingredient.order
                    });
                });

                return ingredients;
            }
        }
    }
</script>