<template>
    <div>
        <h1>Pizzas:</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="pizza in pizzas">
                <td>{{ pizza.id }}</td>
                <td><router-link :to="{ name: 'ShowPizza', params: { id: pizza.id } }">{{ pizza.name }}</router-link></td>
                <td>{{ pizza.price }}</td>
                <button type="button" class="btn btn-danger" v-on:click="deletePizza(pizza)">Delete</button>
            </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
    export default {
        name: 'Dashboard',
        data() {
            return {
                pizzas: []
            }
        },
        created() {
            this.fetchPizzas()
        },
        methods: {
            fetchPizzas() {
                this.$http.get(`pizzas`)
                    .then((req) => {
                        this.pizzas = req.data
                    }).catch(() => {
                    alert('Failed fetching Pizzas!')
                })
            },

            deletePizza(pizza) {
                this.$http.delete(`pizzas/${pizza.id}`)
                    .then(() => {
                        alert('Pizza has been deleted.')
                        this.fetchPizzas()
                    }).catch(() => {
                        alert('Failed deleting Pizza!')
                })
            },
        }
    }
</script>