<template>
    <div>
        <h1 v-if="pizza">Pizza Name: {{pizza.name}}</h1>
        <h2 v-if="pizza">Created At: {{ pizza.created_at }}</h2>
        <h2 v-if="pizza">Updated At: {{ pizza.updated_at }}</h2>
        <br>

        <h2>Ingredients</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Order</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="ingredient in pizza.ingredients">
                <td>{{ ingredient.id }}</td>
                <td>{{ ingredient.name }}</td>
                <td>{{ ingredient.pivot.quantity }}</td>
                <td>{{ ingredient.pivot.order }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
    export default {
        name: 'ShowPizza',
        data() {
            return {
                pizza: null
            }
        },
        created() {
            this.fetchPizza()
        },
        methods: {
            fetchPizza() {
                this.$http.get('pizzas/' + this.$route.params.id)
                    .then((req) => {
                        this.pizza = req.data
                    })
                    .catch(() => {
                        alert('Failed fetching the Pizza!')
                    })
            }
        }
    }
</script>