<template>
    <div class="panel panel-default">
        <div class="panel-heading">
            <nav>
                <ul class="list-inline">
                    <li>
                        <router-link :to="{ name: 'Dashboard' }">Dashboard</router-link>
                    </li>
                    <li>
                        <router-link :to="{ name: 'AddPizza' }">Create Pizza</router-link>
                    </li>
                    <li>
                        <router-link :to="{ name: 'AddIngredient' }">Create Ingredient</router-link>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="panel-body">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'app',
    }
</script>